In [90]:
import pandas as pd

Read data from the file likes csv(comma seprated values) using pandas 
Read only structure data it will not read the unstructure data

In [91]:
df=pd.read_csv("services.csv")

In [92]:
df.head(None)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,NaN,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN
5,6,6,NaN,NaN,NaN,Walk in or apply by phone for membership appli...,Any age,A multipurpose center offering a wide variety ...,NaN,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",NaN,Little House Recreational Activities,NaN,San Mateo County,active,No wait.,NaN,NaN
6,7,7,NaN,NaN,NaN,"Apply by phone or be referred by a doctor, soc...","Older adults who have memory or sensory loss, ...",Rosener House is a day center for older adults...,Age 18 or over,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Adult Day ...",NaN,Rosener House Adult Day Services,NaN,"Belmont, Burlingame, East Palo Alto",active,No wait.,NaN,NaN
7,8,8,NaN,NaN,NaN,Apply by phone.,"Senior citizens age 60 or over, disabled indiv...",Delivers a hot meal to the home of persons age...,Homebound person unable to cook or shop,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Meals on Wheels - South County,NaN,"Belmont, East Palo Alto",active,No wait.,NaN,NaN
8,9,9,NaN,NaN,NaN,Walk in. Proof of residency in California requ...,"Ethnic minorities, especially Spanish speaking","Provides general reading material, including b...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Fair Oaks Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
9,10,10,NaN,NaN,NaN,Walk in. Proof of California residency to rece...,NaN,"Provides general reading and media materials, ...",Resident of California to obtain a card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Main Library,NaN,San Mateo County,active,No wait.,NaN,NaN
10,11,11,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library car...,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Schaberg Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
11,12,12,NaN,NaN,NaN,"Walk in or apply by phone, email or webpage re...","Adults, parents, children in 1st-12th grades i...",Offers an intergenerational literacy program f...,English-speaking adult reading at or below 7th...,NaN,...,NaN,"EDUCATION SERVICES, Adult, Alternative, Litera...",NaN,Project Read,NaN,Daly City,active,Depends on availability of tutors for small gr...,NaN,NaN
12,13,13,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Redwood Shores Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
13,14,14,NaN,NaN,NaN,Call for appointment. Referral from human serv...,Individuals or families with low or no income ...,"Provides food, clothing, bus tokens and shelte...",None for most services. For emergency assistan...,NaN,...,NaN,"COMMUNITY SERVICES, Interpretation/Translation...",NaN,Redwood City Corps,NaN,"Belmont, Burlingame, East Palo Alto",active,Up to 20 minutes.,NaN,NaN
14,15,15,NaN,NaN,NaN,Walk in or through other agency referral.,Adult alcoholic/drug addictive men and women w...,Provides a long-term (6-12 month) residential ...,"Age 21-60, detoxed, physically able and willin...",NaN,...,NaN,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",NaN,Adult Rehabilitation Center,NaN,"Alameda County, San Mateo County",active,Varies according to available beds for men and...,NaN,NaN
15,16,16,NaN,NaN,NaN,"Walk in. Written application, identification r...",NaN,Provides emergency assistance including food a...,None for emergency assistance,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,Sunnyvale Corps,NaN,NaN,active,No wait.,NaN,NaN
16,17,17,NaN,NaN,NaN,Call for information.,NaN,"Provides emergency food, clothing and furnitur...",Low-income families,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,South San Francisco Citadel Corps,NaN,"Colma, Daly City, South San Francisco",active,NaN,NaN,NaN
17,18,18,NaN,NaN,NaN,Call for screening appointment. Medical visits...,NaN,"By appointment only, Project Smile provides a ...",Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,Project Smile,NaN,East Palo Alto,active,Varies.,NaN,NaN
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,NaN,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,NaN,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [93]:
df.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,NaN,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [94]:
df.head(3)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN

In [95]:
df.tail(2)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,NaN,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,NaN,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [96]:
type(df)

pandas.core.frame.DataFrame

In [97]:
list(df.columns)

['id',
 'location_id',
 'program_id',
 'accepted_payments',
 'alternate_name',
 'application_process',
 'audience',
 'description',
 'eligibility',
 'email',
 'fees',
 'funding_sources',
 'interpretation_services',
 'keywords',
 'languages',
 'name',
 'required_documents',
 'service_areas',
 'status',
 'wait_time',
 'website',
 'taxonomy_ids']

if we want to select the single column data from the data frame

In [98]:
df['service_areas']

0                                     Colma
1                          San Mateo County
2                          San Mateo County
3                          San Mateo County
4                          San Mateo County
5                          San Mateo County
6       Belmont, Burlingame, East Palo Alto
7                   Belmont, East Palo Alto
8                          San Mateo County
9                          San Mateo County
10                         San Mateo County
11                                Daly City
12                         San Mateo County
13      Belmont, Burlingame, East Palo Alto
14         Alameda County, San Mateo County
15                                      NaN
16    Colma, Daly City, South San Francisco
17                           East Palo Alto
18                      Belmont, Burlingame
19                                      NaN
20                         San Mateo County
21         Alameda County, San Mateo County
22         San Mateo County, Alameda County
Name: service_areas, dtype: object

In [99]:
type(df['service_areas'])

pandas.core.series.Series

In [100]:
df[['website']]

                   website
0                      NaN
1                      NaN
2                      NaN
3                      NaN
4                      NaN
5                      NaN
6                      NaN
7                      NaN
8                      NaN
9                      NaN
10                     NaN
11                     NaN
12                     NaN
13                     NaN
14                     NaN
15                     NaN
16                     NaN
17                     NaN
18                     NaN
19                     NaN
20                     NaN
21  http://www.example.com
22  http://www.example.com

In [101]:
type(df[['website']])

pandas.core.frame.DataFrame

In [102]:
df1=df[['website']]

In [103]:
df1.tail(1)
df1.head(3)

  website
0     NaN
1     NaN
2     NaN

##Select multiple column then we have to pass the columnn name in a list##

In [104]:
df.dtypes

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [106]:
! pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ---------------------------------------- 0.0/250.0 kB ? eta -:--:--
   --------- ------------------------------ 61.4/250.0 kB 1.6 MB/s eta 0:00:01
   -------------------------- ------------- 163.8/250.0 kB 2.4 MB/s eta 0:00:01
   ---------------------------------------- 250.0/250.0 kB 1.9 MB/s eta 0:00:00
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [107]:
df2=pd.read_excel("LUSID Excel - Setting up your market data.xlsx")

In [108]:
df2

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Datetimes in LUSID,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,This sheet allows you to format datetimes for...,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,If you have any questions please visit our:,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,Getting Started tutorials,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,Knowledge Base articles,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,or Contact us,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,LUSID accepts datetimes in any recognised Exce...,NaN,NaN,"LUSID also accepts UTC, UTS offsets and cutlabels",NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,Excel formats to show datetime,NaN,NaN,Additional formats,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,Enter the date to convert,2019-04-10 00:00:00,NaN,Standard UTC timestamp:,"""YYYY-MM-DDTHH:MM:SS.00Z""","Where Z indicates Zulu time (UTC+0), and is eq..."
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,This date has no time component,2019-04-10 00:00:00,NaN,Convert date into a string,2019-04-10T 13:30:45.55Z,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,Specify time component,13:30:45.550000,NaN,UTC offset (not recognised as an excel date),2019-04-10T13:30:45+04:00,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,Add to your date and display the complete date...,2019-04-10 13:30:45.550000,NaN,Cutlabel,2019-04-10NSingaporeClose,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,Although the date can still appears without time,2019-04-10 13:30:45.550000,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,Add an hour to your datetime,2019-04-10 14:30:45.550000,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,Subtract a minute from your datetime,2019-04-10 14:29:45.550000,NaN,NaN,NaN,NaN

In [109]:
type(df2)

pandas.core.frame.DataFrame

In [110]:
df2.dtypes

Unnamed: 0    float64
Unnamed: 1    float64
Unnamed: 2    float64
Unnamed: 3     object
Unnamed: 4     object
Unnamed: 5     object
Unnamed: 6    float64
Unnamed: 7     object
Unnamed: 8     object
Unnamed: 9     object
dtype: object

In [111]:
df2.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

In [114]:
df2[['Unnamed: 7','Unnamed: 6']]

                                           Unnamed: 7  Unnamed: 6
0                                                 NaN         NaN
1                                                 NaN         NaN
2                                                 NaN         NaN
3                                                 NaN         NaN
4                                                 NaN         NaN
5                                                 NaN         NaN
6                                                 NaN         NaN
7                                                 NaN         NaN
8                                                 NaN         NaN
9                                                 NaN         NaN
10                                                NaN         NaN
11  LUSID also accepts UTC, UTS offsets and cutlabels         NaN
12                                                NaN         NaN
13                                 Additional formats         NaN
14                                                NaN         NaN
15                            Standard UTC timestamp:         NaN
16                                                NaN         NaN
17                         Convert date into a string         NaN
18                                                NaN         NaN
19       UTC offset (not recognised as an excel date)         NaN
20                                                NaN         NaN
21                                           Cutlabel         NaN
22                                                NaN         NaN
23                                                NaN         NaN
24                                                NaN         NaN
25                                                NaN         NaN
26                                                NaN         NaN
27                                                NaN         NaN

In [117]:
! pip install lxml

Collecting lxml
  Downloading lxml-5.1.0-cp311-cp311-win_amd64.whl.metadata (3.6 kB)
Downloading lxml-5.1.0-cp311-cp311-win_amd64.whl (3.9 MB)
   ---------------------------------------- 0.0/3.9 MB ? eta -:--:--
    --------------------------------------- 0.1/3.9 MB 2.6 MB/s eta 0:00:02
    --------------------------------------- 0.1/3.9 MB 2.6 MB/s eta 0:00:02
   - -------------------------------------- 0.1/3.9 MB 930.9 kB/s eta 0:00:05
   - -------------------------------------- 0.1/3.9 MB 774.0 kB/s eta 0:00:05
   -- ------------------------------------- 0.2/3.9 MB 1.1 MB/s eta 0:00:04
   -- ------------------------------------- 0.3/3.9 MB 1.1 MB/s eta 0:00:04
   --- ------------------------------------ 0.4/3.9 MB 1.2 MB/s eta 0:00:03
   ----- ---------------------------------- 0.5/3.9 MB 1.3 MB/s eta 0:00:03
   ----- ---------------------------------- 0.5/3.9 MB 1.3 MB/s eta 0:00:03
   ----- ---------------------------------- 0.5/3.9 MB 1.3 MB/s eta 0:00:03
   ------- -------------------------------- 0.7/3.9 MB 1.3 MB/s eta 0:00:03
   ------- -------------------------------- 0.8/3.9 MB 1.4 MB/s eta 0:00:03
   -------- ------------------------------- 0.9/3.9 MB 1.4 MB/s eta 0:00:03
   ---------- ----------------------------- 1.0/3.9 MB 1.4 MB/s eta 0:00:03
   ---------- ----------------------------- 1.0/3.9 MB 1.4 MB/s eta 0:00:03
   ----------- ---------------------------- 1.1/3.9 MB 1.4 MB/s eta 0:00:02
   ------------ --------------------------- 1.2/3.9 MB 1.5 MB/s eta 0:00:02
   ------------- -------------------------- 1.3/3.9 MB 1.5 MB/s eta 0:00:02
   -------------- ------------------------- 1.4/3.9 MB 1.5 MB/s eta 0:00:02
   --------------- ------------------------ 1.5/3.9 MB 1.5 MB/s eta 0:00:02
   ---------------- ----------------------- 1.6/3.9 MB 1.5 MB/s eta 0:00:02
   ---------------- ----------------------- 1.6/3.9 MB 1.5 MB/s eta 0:00:02
   ----------------- ---------------------- 1.7/3.9 MB 1.5 MB/s eta 0:00:02
   ----------------- ---------------------- 1.7/3.9 MB 1.5 MB/s eta 0:00:02
   ----------------- ---------------------- 1.7/3.9 MB 1.5 MB/s eta 0:00:02
   ----------------- ---------------------- 1.7/3.9 MB 1.5 MB/s eta 0:00:02
   ----------------- ---------------------- 1.7/3.9 MB 1.5 MB/s eta 0:00:02
   ----------------- ---------------------- 1.7/3.9 MB 1.5 MB/s eta 0:00:02
   ----------------- ---------------------- 1.7/3.9 MB 1.5 MB/s eta 0:00:02
   ------------------ --------------------- 1.8/3.9 MB 1.2 MB/s eta 0:00:02
   ------------------ --------------------- 1.8/3.9 MB 1.2 MB/s eta 0:00:02
   ------------------- -------------------- 1.9/3.9 MB 1.2 MB/s eta 0:00:02
   ------------------- -------------------- 1.9/3.9 MB 1.2 MB/s eta 0:00:02
   -------------------- ------------------- 2.0/3.9 MB 1.2 MB/s eta 0:00:02
   -------------------- ------------------- 2.0/3.9 MB 1.1 MB/s eta 0:00:02
   --------------------- ------------------ 2.1/3.9 MB 1.2 MB/s eta 0:00:02
   --------------------- ------------------ 2.1/3.9 MB 1.1 MB/s eta 0:00:02
   ---------------------- ----------------- 2.2/3.9 MB 1.1 MB/s eta 0:00:02
   ---------------------- ----------------- 2.2/3.9 MB 1.1 MB/s eta 0:00:02
   ----------------------- ---------------- 2.3/3.9 MB 1.1 MB/s eta 0:00:02
   ------------------------ --------------- 2.4/3.9 MB 1.1 MB/s eta 0:00:02
   ------------------------ --------------- 2.4/3.9 MB 1.2 MB/s eta 0:00:02
   ------------------------- -------------- 2.5/3.9 MB 1.2 MB/s eta 0:00:02
   ------------------------- -------------- 2.5/3.9 MB 1.2 MB/s eta 0:00:02
   -------------------------- ------------- 2.6/3.9 MB 1.2 MB/s eta 0:00:02
   -------------------------- ------------- 2.6/3.9 MB 1.2 MB/s eta 0:00:02
   --------------------------- ------------ 2.6/3.9 MB 1.1 MB/s eta 0:00:02
   --------------------------- ------------ 2.7/3.9 MB 1.1 MB/s eta 0:00:02
   --------------------------- ------------ 2.7/3.9 MB 1.1 MB/s eta 0:00:02
   --------------------------- ------------ 2.7/3.9 MB 1.1 MB/s eta 0:00:02
   --------------------------- ------------ 2.7/3.9 MB 1.1 MB/s eta 0:00:02
   --------------------------- ------------ 2.7/3.9 MB 1.1 MB/s eta 0:00:02
   --------------------------- ------------ 2.7/3.9 MB 1.1 MB/s eta 0:00:02
   --------------------------- ------------ 2.7/3.9 MB 1.1 MB/s eta 0:00:02
   ---------------------------- ----------- 2.8/3.9 MB 997.5 kB/s eta 0:00:02
   ---------------------------- ----------- 2.8/3.9 MB 999.0 kB/s eta 0:00:02
   ----------------------------- ---------- 2.9/3.9 MB 1.0 MB/s eta 0:00:02
   ------------------------------ --------- 3.0/3.9 MB 1.0 MB/s eta 0:00:01
   ------------------------------ --------- 3.0/3.9 MB 1.0 MB/s eta 0:00:01
   ------------------------------- -------- 3.1/3.9 MB 1.0 MB/s eta 0:00:01
   -------------------------------- ------- 3.1/3.9 MB 1.0 MB/s eta 0:00:01
   -------------------------------- ------- 3.2/3.9 MB 1.0 MB/s eta 0:00:01
   -------------------------------- ------- 3.2/3.9 MB 1.0 MB/s eta 0:00:01
   --------------------------------- ------ 3.3/3.9 MB 1.0 MB/s eta 0:00:01
   ---------------------------------- ----- 3.3/3.9 MB 1.0 MB/s eta 0:00:01
   ---------------------------------- ----- 3.3/3.9 MB 1.0 MB/s eta 0:00:01
   ---------------------------------- ----- 3.3/3.9 MB 1.0 MB/s eta 0:00:01
   ---------------------------------- ----- 3.3/3.9 MB 1.0 MB/s eta 0:00:01
   ---------------------------------- ----- 3.3/3.9 MB 1.0 MB/s eta 0:00:01
   ---------------------------------- ----- 3.3/3.9 MB 928.8 kB/s eta 0:00:01
   ---------------------------------- ----- 3.4/3.9 MB 924.0 kB/s eta 0:00:01
   ----------------------------------- ---- 3.4/3.9 MB 931.4 kB/s eta 0:00:01
   ----------------------------------- ---- 3.4/3.9 MB 931.4 kB/s eta 0:00:01
   ----------------------------------- ---- 3.4/3.9 MB 931.4 kB/s eta 0:00:01
   ----------------------------------- ---- 3.4/3.9 MB 931.4 kB/s eta 0:00:01
   ------------------------------------ --- 3.5/3.9 MB 902.7 kB/s eta 0:00:01
   ------------------------------------ --- 3.6/3.9 MB 896.1 kB/s eta 0:00:01
   ------------------------------------ --- 3.6/3.9 MB 897.8 kB/s eta 0:00:01
   ------------------------------------- -- 3.7/3.9 MB 897.2 kB/s eta 0:00:01
   ------------------------------------- -- 3.7/3.9 MB 899.4 kB/s eta 0:00:01
   -------------------------------------- - 3.7/3.9 MB 900.1 kB/s eta 0:00:01
   -------------------------------------- - 3.8/3.9 MB 897.3 kB/s eta 0:00:01
   -------------------------------------- - 3.8/3.9 MB 897.3 kB/s eta 0:00:01
   -------------------------------------- - 3.8/3.9 MB 882.4 kB/s eta 0:00:01
   -------------------------------------- - 3.8/3.9 MB 882.4 kB/s eta 0:00:01
   -------------------------------------- - 3.8/3.9 MB 882.4 kB/s eta 0:00:01
   -------------------------------------- - 3.8/3.9 MB 882.4 kB/s eta 0:00:01
   ---------------------------------------  3.8/3.9 MB 846.5 kB/s eta 0:00:01
   ---------------------------------------  3.9/3.9 MB 847.3 kB/s eta 0:00:01
   ---------------------------------------  3.9/3.9 MB 842.6 kB/s eta 0:00:01
   ---------------------------------------  3.9/3.9 MB 846.3 kB/s eta 0:00:01
   ---------------------------------------- 3.9/3.9 MB 840.9 kB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-5.1.0

In [120]:
url_data=pd.read_html('https://www.basketball-reference.com/leagues/NBA_2024_totals.html')

In [121]:
type(url_data)

list

In [122]:
len(url_data)

1

In [123]:
df3=url_data[0]

In [124]:
df3

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C-PF,24,TOT,48,9,1020,158,322,...,.641,124,179,303,65,29,36,50,88,376
1,1,Precious Achiuwa,C,24,TOR,25,0,437,78,170,...,.571,50,86,136,44,16,12,29,40,193
2,1,Precious Achiuwa,PF,24,NYK,23,9,583,80,152,...,.773,74,93,167,21,13,24,21,48,183
3,2,Bam Adebayo,C,26,MIA,45,45,1555,344,675,...,.784,103,376,479,188,48,43,109,111,910
4,3,Ochai Agbaji,SG,23,TOT,54,10,1045,111,267,...,.739,37,93,130,49,28,29,37,69,287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
673,536,Thaddeus Young,PF,35,TOR,23,6,350,54,87,...,.417,29,46,75,50,18,3,11,38,114
674,537,Trae Young,PG,25,ATL,50,50,1826,414,969,...,.858,22,115,137,546,70,11,216,103,1333
675,538,Omer Yurtseven,C,25,UTA,30,6,272,40,83,...,.538,37,72,109,13,4,11,24,35,90
676,539,Cody Zeller,C,31,NOP,36,0,289,21,53,...,.600,38,57,95,34,8,4,13,39,64
677,540,Ivica Zubac,C,26,LAC,43,43,1139,217,331,...,.664,132,275,407,55,10,57,49,117,511

In [125]:
df3.head(3)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Precious Achiuwa,C-PF,24,TOT,48,9,1020,158,322,...,.641,124,179,303,65,29,36,50,88,376
1,1,Precious Achiuwa,C,24,TOR,25,0,437,78,170,...,.571,50,86,136,44,16,12,29,40,193
2,1,Precious Achiuwa,PF,24,NYK,23,9,583,80,152,...,.773,74,93,167,21,13,24,21,48,183

In [127]:
df3.tail()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
673,536,Thaddeus Young,PF,35,TOR,23,6,350,54,87,...,.417,29,46,75,50,18,3,11,38,114
674,537,Trae Young,PG,25,ATL,50,50,1826,414,969,...,.858,22,115,137,546,70,11,216,103,1333
675,538,Omer Yurtseven,C,25,UTA,30,6,272,40,83,...,.538,37,72,109,13,4,11,24,35,90
676,539,Cody Zeller,C,31,NOP,36,0,289,21,53,...,.600,38,57,95,34,8,4,13,39,64
677,540,Ivica Zubac,C,26,LAC,43,43,1139,217,331,...,.664,132,275,407,55,10,57,49,117,511

In [128]:
df3.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [129]:
df3.dtypes

Rk        object
Player    object
Pos       object
Age       object
Tm        object
G         object
GS        object
MP        object
FG        object
FGA       object
FG%       object
3P        object
3PA       object
3P%       object
2P        object
2PA       object
2P%       object
eFG%      object
FT        object
FTA       object
FT%       object
ORB       object
DRB       object
TRB       object
AST       object
STL       object
BLK       object
TOV       object
PF        object
PTS       object
dtype: object

In [130]:
df3[['BLK', 'DRB']]

    BLK  DRB
0    36  179
1    12   86
2    24   93
3    43  376
4    29   93
..   ..  ...
673   3   46
674  11  115
675  11   72
676   4   57
677  57  275

[678 rows x 2 columns]

In [131]:
df3.to_csv("Player_data.csv",index=False)